<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mo631model -->
      <package
            uri="http://www.example.org/mo631model"
            class="mo631model.mo631model.Mo631modelPackage"
            genModel="model/mo631model.genmodel"/>
   </extension>

</plugin>
